@import url("https://fonts.googleapis.com/css?family=Montserrat:700");

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

main {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.hero {
  height: 100vh;
  width: 100vw;
  background-image: url(./images/bgs/bg1.jpg);
  // background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  color: white;
  display: inline-flex;
  align-items: center;

  .intro {
    margin: 0 auto;

    h1 {
      height: 5vw;
      font-size: 3.5vw;
      letter-spacing: 0.5vw;
    }

    h2 {
      font-size: 2.5vw;
      height: 5vw;
      letter-spacing: 0.25vw;
    }

    img {
      width: 60%;
    }
  }
}

.about,
.samples {
  h1 {
    font-size: 3vw;
    height: 7vw;
    display: inline-flex;
    align-items: center;
  }

  h2 {
    font-size: 2vw;
    height: 5vw;
    display: inline-flex;
    align-items: center;
    color: #777;
  }

  p {
    font-size: 1.25vw;
    width: 75%;
    margin: 0 auto;
    line-height: 2.5vw;
  }
}

.about {
  height: 100vh;
  width: 100vw;
  background-image: url(./images/bgs/bg2.jpg);
  // background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  color: white;

  p {
    height: 15vw;
  }

  div {
    width: 75%;
    height: 8vw;
    margin: 0 auto;
    img {
      height: 100%;
    }
  }
}

.samples {
  .app {
    .links {
      font-size: 1.5vw;
      height: 3vw;

      a {
        text-decoration: none;
        color: #5474bb;
        display: inline-flex;
        align-items: center;
      }
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }
}


// Media Queries

@media screen and (max-width:900px) {
  .hero {
    .intro {
      h1 {
        height: 8vw;
        font-size: 6vw;
        letter-spacing: 1vw;
      }

      h2 {
        font-size: 4vw;
        height: 6vw;
        letter-spacing: 0.5vw;
      }

      img {
        width: 100%;
      }
    }
  }

  .about,
  .samples {
    h1 {
      font-size: 6vw;
      height: 12vw;
      display: inline-flex;
      align-items: center;
    }

    h2 {
      font-size: 4.5vw;
      height: 12vw;
      display: inline-flex;
      align-items: center;
      width: 85%;
    }

    p {
      font-size: 4vw;
      width: 75%;
      margin: 0 auto;
      line-height: 7vw;
    }
  }

  .about {
    height: auto;
    p {
      height: auto;
    }

    .row1 {
      width: 75%;
      height: 50%;
      margin: 0 auto;
      img {
        height: 25%;
      }
    }
    .row2 {
      width: 75%;
      height: 75%;
      margin: 0 auto;
      img {
        height: 25%;
      }
    }
  }

  .samples {
    .app {
      .links {
        font-size: 4vw;
        height: 6vw;

        a {
          text-decoration: none;
          color: #5474bb;
          display: inline-flex;
          align-items: center;
        }
      }

      img {
        display: block;
        margin: 5% auto;
        width: 90%;
      }
    }
  }
}
